//    main.scss
//        Author:         Michael Ng
//        Date:           2021-11-01
//        Last revised:   2021-11-01
//        Description:    SCSS for Homework 8

/*  Styling for [project] */

// older browser compatibility
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    content: "";
    clear: both;
    font-size: 1em;
   font-family: "source Sans Pro", sans-serif;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9);
  z-index: 1;
}

.modal-inner {
  position: absolute;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  color: #ddd;
  text-align: justify;
  padding: 20px;
  font-size: 1.5rem;
}

.ok {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  color: #ccccff;
  width: 200px;
  height: 60px;
  font-size: 1.8rem;
  border-radius: 40px;
  border: 1px solid #ccccff;

  &:hover {
    transition: .3s;
    color: #ffcc;
    border-color: #ffcccc;
    cursor: pointer;
  }
}

.container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;

  .container-inner {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 850px;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 20px;
    font-size: 1.2rem;
    background: rgba(225,225,225,.5);

    p::first-letter {
      display: block;
      font-family: "Cinzel Decorative", cursive;
      color: #9e0e0e;
      float: left;
      font-size: 3rem;
      font-weight: bold;
      line-height: 3rem;
      margin-right: 2px;
      margin-top: 0;
    }
  }
}

header {
  position: absolute;
  top: 0;
  height: 75px;
  width: 100%;
  background: rgba(50,50,50,1);
  margin: 0;
  padding: 0;

  h1 {
    color: #ddd;
    text-align: center;
  }
}

.image-float {
  display: block;
  width: 250px;
  margin-bottom: 15px;
}

.image-left {
  @extend .image-float;
  float: left;
  margin-right: 15px;
}

.image-right {
  @extend .image-float;
  float: right;
  margin-left: 15px;
}

.clear-both {
  clear: both;
}

@keyframes fade-out {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

.hide {
  animation-name: fade-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Styling for the Play/Pause/Volume Up/Volume Down Controls */
.controls {
  width: 150px;
  position: absolute;
  right: 5px;
  top: 65px;

  img {
    cursor: pointer;

    &:hover {
      transition: .2s;
      background: #c19a9a73;
    }
  }
}

