/*  main.css
 *  Author:             Michael Ng
 *  Date:               09/07/2021
 *  Last revised:       09/07/2021
 *  Description:        CSS for HW 1
 */

/* clearfix */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  content: "";
  clear: both;
  font-size: 18px;
  font-family: "Urban-Regular", sans-serif;
  background: #fbfbfb;
}

.container {
  position: relative;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  min-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container .row {
  padding: 20px;
  width: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .row .col, 
.container .row .col-6 {
  display: inline-block;
}

.container .row .col p, .container .row .col-6 p {
  min-width: 328px;
  max-width: 500px;
}

.container .row .col-6 {
  width: 45%;
  margin-right: 15px;
}

header {
  background-image: linear-gradient(to right, 
  rgba(112, 2, 70, 1) 60%, 
  rgba(141, 1, 87, 0));
  color: #ddd;
  padding: 20px;
}

header h1 {
  font-family: "Urban-Bold";
}

header h2 {
  font-family: "Urban-Regular";
}

nav {
  height: 21px;
  padding: 1px;
  margin: 0;
  text-align: right;
  border-bottom: 0.25px solid #333;
}

nav a {
  font-size: 0.9rem;
  font-family: "Urban-Regular";
  color: #700246;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}

nav a:hover {
  transition: 0.5s;
  color: #048624;
}

ul {
  list-style: none;
}

/** 
* @font-face provides a custom font family for the website to use. 
* src provides the browser with a comma-separater list of source files.
* 3 sources are provided to ensure that most browsers can use the text.
*/
@font-face {
  font-family: Urban-Light;
  src:  url(../webfont/Urbanist-Light.woff),
        url(../webfont/Urbanist-Light.woff2),
        url(../webfont/Urbanist-Light.otf);
}

@font-face {
  font-family: Urban-Regular;
  src:  url(../webfont/Urbanist-Regular.woff),
        url(../webfont/Urbanist-Regular.woff2),
        url(../webfont/Urbanist-Regular.otf);
}

@font-face {
  font-family: Urban-Bold;
  src:  url(../webfont/Urbanist-Light.woff),
        url(../webfont/Urbanist-Light.woff2),
        url(../webfont/Urbanist-Light.otf);
}

@font-face {
  font-family: Urban-Italic;
  src:  url(../webfont/Urbanist-Light.woff),
        url(../webfont/Urbanist-Light.woff2),
        url(../webfont/Urbanist-Light.otf);
}

@font-face {
  font-family: Urban-Light-Italic;
  src:  url(../webfont/Urbanist-Light.woff),
        url(../webfont/Urbanist-Light.woff2),
        url(../webfont/Urbanist-Light.otf);
}

/**
* Helper classes used to modify each text element.
*/

.u-light {
  font-family: 'Urban-Light', sans-serif;
}

.u-regular {
  font-family: 'Urban-Regular', sans-serif;
}

.u-bold {
  font-family: 'Urban-Bold', sans-serif;
}

.u-italic {
  font-family: 'Urban-Italic', sans-serif;
}

.u-light-italic {
  font-family: 'Urban-Light-Italic', sans-serif;
}