/*
	Author: 		Jack Ramsey
	Purpose:		CSS for Lab 3
	Date:			2/21/2018
*/

body {
	background: #FBFBFB;
}

.container, .navbar {
	box-sizing: border-box; /* this property makes the padding and border properties part of the element's width, which makes aligning elements easier */
	font-family: 'Philosopher', sans-serif;  /* this combines with the Google Fonts link in the HTML files to modify our font-family */
	margin: auto;  /* this centers the body element within its container (the display) */
	min-width: 340px;  /* this defines the minimum width that the body will display before adding horizontal scroll bars (horizontal == ewwwwwe!) */
	max-width: 1024px;  /* this defines the maximum width that the selector (in this case, the body) will display. With the above rules, on a display that's 2048 pixels wide, for example, the body will be, at most, 1024 pixels wide. And centered. */
}

header, footer{
	height: 4em;	/* this sets the header's height to 4x the current font size */
	background: #005;	/* this makes the header and footer's background color a dark grey */
	color: gold;	/* this makes the font color in the header and footer a very light gray...off-white, really */
	font-size: 2em;	/* this sets the header's font size to 2x the default font size */
	text-align: center;	/* this makes the container(s) align their text to the center of the container */
	padding-top: 1em; /* this adds padding to the top of the container. Note that the padding is 1em while the font size is 2em. This acts to center the (one-line) of content in its container */
	margin-bottom: 1em; /* this adds space below the selector to separate it from follow-on content */
	width: 100%;	/* this makes the selector(s) span 100% of their container's width */
	box-sizing: inherit;	/* this makes the header and footer inherit the box-sizing setting of their parent, i.e., the body element */
}

footer {
	height: 2em;	/* we want this to be 2x the default font size, instead of 4x */
	padding: .25em .25em;	/* by making the padding a quarter of the default font size, top/bottom, we effectively center the (again, one-line) content within the footer element. .25em left and right indents the content a little */
	text-indent: 2em;	/* indents the text by 2x the default font size */
	text-align: left; /* aligns the text to the left, over-riding the above rule's directive to center-align text */
	font-size: 1em;	/* resets the footer's font size to 1x the default font size */
	margin: 2em auto; /* adds a margin around the footer that's 2x the default font size */
}

.active {
	border-bottom: 2px solid gold;
}

.bg-blue {
	background: #005;
	color: gold;
}

blockquote {
	padding: .2em .5em;	/* add some padding. Remember, the box-sizing: border-box rule from the body selector combines the content, padding, and border properties into the element's width, making it easier to align with other elements */
	font-style: italic;	/* well, this should be obvious */
	border-left: 4px double #333;	/* this creates a left border that displays as a double line */
}

.btn-primary {
	width: 100px;
}

.btn-primary a {
	color: gold;
	text-decoration: none;
}

figure {
	margin: 1em auto; /* adds a margin to the figure element that is 1x the default font-size top and bottom and centered within its container (i.e., 'auto') */
}

figcaption {
	text-align: center;	/* again, obvious */
}

h2 {
	margin-top: 1em; /* this adds some white space above h2 elements */
}

img.cent {
	display: block;	/* to get images to utilize margins, we have to make them display as block-level elements */
	border: 1px solid #005;	/* add a blue border that's 1px wide and solid */
	margin: auto;	/* makes the image display centered */
	max-width: 800px;	/* sets the image's maximum width */
	min-width: 300px;	/* sets the image's minimum width */
}

.nav-link, .navbar-brand {
	color: gold !important;
}

p.carousel {
	text-indent: 2rem;
	width: 500px;
	color: gold;
	margin: 25px auto;
}

@keyframes fade-in {
	0%		{ opacity: 0; }
	40%		{ opacity: 1; }
	80%		{ opacity: 1; }
	100%	{ opacity: 0; }
}

.carousel-item {
	animation-name: fade-in;
	animation-duration: 8s;
	animation-timing-function: ease-in;
}

.carousel {
	position: relative;
	top: 0;
}

.carousel-item {
	width: 100%;
	margin: 0 100% 0 0;
}

.carousel-item > img {
	display: block;
	margin: auto;
	width: 100%;
}

.carousel-indicators {
	justify-content: center;
	list-style: none;
	height: 5px;
	cursor: pointer;
	bottom: 350px; /* positions the indicators on top of the carousel rather than the bottom. Delete this to remove the effect.*/
}

.carousel-indicators > li {
	width: 15%;
	font-size: 5rem;
	color: #ccc;
}

.carousel-indicators li.active {
	font-size: 6rem;
	background: transparent!important;
}

footer {
	position: fixed;
	bottom: 0;
}

